@mixin media($size)
    @media screen and (min-width:#{$size}px)
        @content

html
    font-size: 1px
    scroll-behavior: smooth

body
    margin: 0
    font-size: 16rem
    font-family: montserrat
    scroll-behavior: smooth

a
    text-decoration: none

    &:hover
        cursor: pointer, url('../img/cursors/star.cur')

@import component/variables
@import component/header
@import component/main
@import component/footer

ul, li
    padding: 0
    list-style: none

/*-----------BURGER MENU-----------*/

.burMenu

    display: block
    z-index: 3
    text-align: left
    //left: 280px
    width: 25rem
    height: 25rem
    //border: 5rem solid blue
    background-image: url(../img/icons/open.svg)
    background-size: cover

    +media(568)
        display: none

.burMenuOpen
    z-index: 7
    background-image: url(../img/icons/close.svg)

    +media(568)
        display: none

.blur
    position: fixed
    width: 100%
    height: 100vh
    top: 0
    left: 0
    z-index: 1
    backdrop-filter: blur(15px)
    display: block
    justify-content: center
    align-items: center

    +media(568)
        display: none

.burblock
    position: fixed
    width: 100%
    height: 100vh
    top: 0
    left: 0
    z-index: 1
    backdrop-filter: blur(15px)
    display: block
    justify-content: center
    align-items: center
    z-index: 4
    //padding-top: 25vh

    ul
        display: flex
        flex-direction: column
        align-items: center

    li
        position: relative
        top: 100px
        padding: 25px 0

    +media(568)
        //display: none
        position: static
        width: auto
        height: auto
        backdrop-filter: blur(0px)

        ul
            flex-direction: row

        li
            top: 0

.adaptive
    flex-direction: column
    +media (728)
        flex-direction: row

/*-----------CONTACTS-----------*/

.contactsmain
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-between

    +media (1024)
        flex-direction: row

.contact p
    font-family: "Roboto Slab"

.contacts
    padding: 135px 0px

    & h2
        text-transform: uppercase
        color: #555
        padding-bottom: 25px
        text-align: center

    .contp
        padding: 30px 0 70px 0
        text-align: center
        color: #555
        font-weight: 400
        font-family: "Roboto Slab"

.firstlevel input,
.secondlevel input
    display: block
    width: 250px
    height: 45px
    border: 1px #555 solid
    color: #555

    &:hover
        border: 1px $primaryred solid
        color: $primaryred

    +media(568)
        width: calc( 100% - 30px )
    +media(740)
        width: 340px

.form
    & input,
    textarea
        display: block
        margin: 10px auto
        padding-left: 15px
        box-sizing: border-box
        text-transform: uppercase

        +media(568)
            margin: 10px 15px

textarea
    min-height: 100px
    max-height: 100px
    max-width: 250px
    min-width: 250px
    padding-top: 15px

    border: 1px #555 solid
    color: #555

    +media(568)
        max-width: 730px
        //min-width: 100%
        width: calc( 100% - 30px )

    &:hover
        border: 1px $primaryred solid
        color: $primaryred

.firstlevel,
.secondlevel,
.btnblock
    display: flex
    align-items: center
    flex-direction: column

    +media(568)
        flex-direction: row

.btnblock p
    color: #555
    font-weight: 400
    margin: 0 28px
    font-family: "Roboto Slab"

    & span
        color: $primaryred

.btnblock input
    width: 250px
    height: 45px
    background-color: transparent
    border: 1px #555 solid
    text-transform: uppercase
    color: #555
    transition: $transition

    &:hover
        border: 1px $primaryred solid
        color: $primaryred

    +media(568)
        width: 170px

.cont
    display: flex
    padding-left: 10px
    flex-wrap: wrap
    color: #555
    +media (1024)
        display: block

    +media(1470)
        padding-left: 0

    & h4
        text-transform: uppercase

    & p
        margin: 0 0 0 27px

.cardcont
    margin: 0 0 15px 0

.imgcont
    display: flex
    align-items: center

    & img
        margin: 0 15px 0 0

/*-----------DIALOG-----------*/

.dialog
    position: fixed
    width: 100%
    height: 100vh
    top: 0
    left: 0
    z-index: 6
    backdrop-filter: blur(15px)
    display: none
    justify-content: center
    align-items: center

.dialogbox
    width: 250px
    //height: 400px
    background-color: white
    color: $darkred
    margin: 0 auto
    margin-top: 50px
    padding: 15px 25px
    border: 1px solid $darkred
    text-align: center

    +media(425)
        width: 350px

    & h3
        color: $darkred
        padding: 5px
        text-align: center
        text-transform: uppercase
        margin: 43px 0 35px 0

    label
        position: relative

    input
        margin: 15px 0
        padding: 5px
        width: 100%
        box-sizing: border-box
        border: 1px solid $darkred

    input:valid + span
        left: 0
        top: -20px
        font-size: 10px
        opacity: 1

    .mButt
        display: flex
        align-items: center
        justify-content: space-around
        margin: 10px 0 43px 0

        a
            margin-top: 25px
            border: 1px solid $darkred
            padding: 5px 10px
            text-transform: uppercase
            color: $darkred

            &:hover
                border: 1px solid $darkred
                background-color: $darkred
                color: white

    p
        color: #555
        text-align: left
        padding-left: 40px

    em
        color: $primaryred

    span
        position: absolute
        top: 10px
        left: 10px
        opacity: 0
        transition: $transition

    .logswitch
        position: relative
        border: 1px solid $darkred
        border-radius: 16px
        height: 33px
        margin-top: 30px
        background-color: white

        strong
            position: absolute
            top: 5px
            left: 3px
            display: inline-block
            width: 20px
            height: 20px
            background-color: $darkred
            border: 1px solid $darkred
            border-radius: 50%

        .dropzone
            position: absolute
            text-align: right
            top: 3px
            right: 3px
            height: 25px
            width: 25px
            left: auto
            background-color: transperent
            //border: 1px solid $darkred

.service-message
    display: none
    position: absolute
    top: 0px
    padding: 5px
    left: 5px
    border: 1px solid black
    border-radius: 5px 5px 5px 0
